* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}


.Home{
    background-color: blue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 20px 60px;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.nav a:hover {
    text-decoration: underline;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px;
    min-height: calc(100vh - 100px);
}

.hero-text {
    max-width: 600px;
}

.hero-text h1 {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 25px;
}

.hero-text p {
    font-size: 24px;
    line-height: 1.5;
}


.hero-image img {
    max-height: 600px;
    width: auto;
}
































