* {
    box-sizing: border-box;


}
.page-one{
    background-image: url("assets/hybrid-storytellers-RMYwNoKykQY-unsplash.jpg");
    background-size: cover;
    height: 100vh;

}

/* corrected selector for h2 inside .page-one */
.page-one h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    font-size: 8vh;
    font-family: "Droid Sans";
}

/* fix footer paragraph to bottom-left of the screen */
footer p {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0.5rem 1rem;
    z-index: 1000;
    color: white;
}